* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: all ease .3s;
}

body {
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        margin-top: 75px;
        overflow: hidden;
        flex: 1;
        position: relative;
    }
}

.woocommerce-billing-fields .form-row, .woocommerce-shipping-fields .form-row,.woocommerce form .form-row {
    display: block;
}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    max-width: unset;
}